<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        } </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>상품 수정 폼</h2>
    </div>
    <form action="member.html" th:action th:object="${member}" method="post">
        <div>
            <label for="id">회원 ID</label>
            <input type="text" id="id" th:field="*{id}" class="form-control" value="1"
                   th:value="${member.id}" readonly>
        </div>
        <div>
            <label for="nickName">닉네임</label>
            <input type="text" id="nickName" th:field="*{nickName}" class="form-control" value="상품A" th:value="${member.nickName}">
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="text" id="password" th:field="*{nickName}" class="form-control"
                   th:value="${member.password}">
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">저장
                </button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='member.html'"
                        th:onclick="|location.href='@{/basic/members/{memberId}(memberId=${member.id})}'|" type="button">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>
