<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <style>
    .container {
      max-width: 560px;
    } </style>
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>회원 상세</h2> </div>
  <div>
    <label for="memberId">상품 ID</label>
    <input type="text" id="memberId" name="memberId" class="form-control"
           value="Testid1" th:value="${member.id}" readonly>
  </div> <div>
  <label for="memberNickname">닉네임</label>
  <input type="text" id="memberNickname" name="memberNickname" class="form-control"
         value="회원1" th:value="${member.nickName}" readonly> </div>
  <div>
    <label for="memberPassword">비밀번호</label>
    <input type="text" id="memberPassword" name="memberPassword" class="form-control"
           value="1111" th:value="${member.password}" readonly>
  </div>
  <div>
</div>
  <hr class="my-4">
  <div class="row">
    <div class="col">
      <button class="w-100 btn btn-primary btn-lg"
              onclick="location.href='editMemberForm.html'"
              th:onclick="|location.href='@{/basic/members/{memberId}/edit(memberId=${member.id})}'|" type="button">회원 수정</button>
    </div>
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg"
              onclick="location.href='members.html'"
              th:onclick="|location.href='@{/basic/members}'|" type="button">목록으로</button>
    </div>
  </div>
</div> <!-- /container -->
</body>
</html>
