
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>타임라인</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='writeTimeline.html'"
                    th:onclick="|location.href='@{/timeline/writeTimeline}'|" type="button">타임라인 등록</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>타임라인ID</th>
                <th>회원ID</th>
                <th>책ID</th>
                <th>책이미지</th>
                <th>내용</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="timeline : ${timelines}">
                <td><a th:text="${timeline.timelimeId}">타임라인아이디</a></td>
                <td><a href="member.html" th:href="@{/basic/members/{memberId} (memberId=${timeline.memberId})}" th:text="${timeline.memberId}">회원id</a></td>
                <td><a th:text="${timeline.bookId}">책아이디</a></td>
                <td><a th:text="${timeline.bookImg}">책이미지</a></td>
                <td><a href="timeline.html" th:href="@{/timeline/memberTimeline/{timelineId} (timelineId=${timeline.timelimeId})}" th:text="${timeline.content}">내용</a></td>
                <td><a th:text="${timeline.lastUpdateDate}">2024-01-01</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>
